build
dist
*.egg-info
.eggs

*.log
**/__pycache__
*.so
*.coverage
.mypy_cache
.pytest_cache

# VS code workspace
.vscode

# Generated code (by swig)
pyonlinesvr/lib/onlinesvr.py
pyonlinesvr/lib/OnlineSVR_wrap.cxx
pyonlinesvr/lib/OnlineSVR_wrap.cpp
